  body {
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 350px;
    background-color: orange;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
  }

  span{
    color: black;
    font-weight: bold;
  }

  .name{
    font-weight: bold;
  }
  